
.container{
    background-color: blue;
    height: 500px;
    width: 100%;
}

.box1{
    margin: 6px;
    background-color: blue;
    width: 30%;
    height: 200px;
    float: left;
}

.box2{
    margin: 6px;
    background-color: blue;
    width: 30%;
    height: 200px;
    float: left;
}

.box3{
    margin: 6px;
    background-color: blue;
    width: 30%;
    height: 200px;
    float: left;
}

